@tailwind base;
@tailwind components;
@tailwind utilities;

.background-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 300%;
  height: 100%;
  display: flex;
  animation: slide-left 60s linear infinite;
}

.background-image {
  width: 200%;
  height: 200%;
  background-image: url('/layerfull.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@keyframes slide-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-66.66%);
  }
}